<form action="/main/join" method="post">
  email : <input type="text" name="email" /> name : <input type="text" name="name" /> id : <input type="number" name="id" />
  <input type="submit" />
</form>
