html
	head
		meta(charset='utr-8')
		title webapp test
	body
		h1 Text
		form(action='/topic' method='post')
			div
				input(type='text' name='title' placeholder="title")
			div
				textarea(name='description')
			input(type='submit')